.search_result_container {
	padding: 90px 40px 90px 40px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search_result_container .search_result_wrapper {
	width: 100%;
	max-width: var(--max-width);
	min-height: var(--min-height);
}
