.details_section_container {
	padding: 0 40px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.details_section_wrapper {
	width: 100%;
	max-width: var(--max-width);
	min-height: var(--min-height);
	margin: 40px 20px 40px 20px;
	padding: 40px 40px;
}

.details_section_wrapper legend {
	font-size: 32px;
	font-weight: 800;
	padding: 12px 24px;
}

.inner_detail {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: 40px;

	@media only screen and (max-width: 1000px) {
		flex-direction: column;
	}
}

.inner_detail .inner_detail_div1 {
	width: 50%;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	@media only screen and (max-width: 900px) {
		width: 100%;
		align-items: center;
	}
}

.inner_detail_div1 .details {
    width: 100%;
    padding: 40px 0;

    @media only screen and (max-width: 600px) {
        padding: 0;
        
    }
}

.inner_detail .inner_detail_div2 {
	width: 50%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 40px;

	@media only screen and (max-width: 1000px) {
		width: 100%;
	}
}

.inner_detail_div2 fieldset {
	width: 25vw;

	@media only screen and (max-width: 1600px) {
		width: 35vw;
	}

	@media only screen and (max-width: 1400px) {
		width: 40vw;
	}

	@media only screen and (max-width: 1000px) {
		width: 80vw;
	}

	@media only screen and (max-width: 900px) {
		width: 85vw;
	}

	@media only screen and (max-width: 600px) {
		width: 75vw;
	}
}

.inner_detail_div2 img {
	width: 40px;
	height: 40px;
	border-radius: 12px;
}

.inner_detail_div2 fieldset legend {
	font-size: 24px;
	padding: 12px 24px;
}


.poster {
    @media only screen and (max-width: 600px) {
        width: 325px;
        height: 413px;
    }

    @media only screen and (max-width: 450px) {
        width: 200px;
        height: 255px;
    }
}

.provider_wrapper {
	padding: 8px 0 24px 0;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 32px;
	flex-wrap: wrap;
}

.provider_wrapper div {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 16px;
}

.provider_wrapper div p {
	padding: 0;
	margin: 0;
	color: var(--color-2);
}

.provider_wrapper div a {
	width: 100%;
	
	background: var(--color-4);
	padding: 0 16px;
	text-decoration: none;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	cursor: pointer;

	@media only screen and (max-width: 900px) {
		cursor: none;
		
	}
}

.provider_wrapper div a:hover ~ a p {
	color: var(--color-1);
}

.overview_wrapper p {
	text-align: justify;
}

.err_fieldset {
	display: flex;
	justify-content: center;
	align-items: center;
}

.no_provider_err {
	font-size: 16px;
	color: var(--color-2);
	font-weight: 100;
}

.no_display {
	position: absolute;
	display: none;
}