.popular_section_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.popular_section_wrapper {
    padding: 90px 40px 90px 40px;
    width: 100%;
    max-width: var(--max-width);
    min-height: var(--min-height);
}

.popular_section_wrapper .content_wrapper {
    padding: 40px 0;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loading_wrapper {
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
