.button {
    padding: 12px 16px;
    width: max-content;
    background: var(--theme-6);
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    font-size: 20px;
    font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings: "slnt" 0;
    text-transform: capitalize;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width:900px) {
        cursor: none;
        font-size: 16px;
    }
}

.button:hover {
    background: var(--theme-4);
}

.add_to_cart {
    background: #000;
}