:root {
	--color-1: #E4C59E;
	--color-2: #AF8260;
	--color-3: #803D3B;
	--color-4: #322C2B;
	--color-5: #171616;	

	--max-width: 1250px;
	--min-height: 90vh;

	--movie-width: 275px; /* 325 */
	--movie-height: 350px; /* 413 */
}

/* Hide scrollbar for WebKit browsers */
*::-webkit-scrollbar {
  display: none;

}

* {
	box-sizing: border-box;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

html {
	scroll-behavior: smooth;
}

body {
    background: var(--color-5);
	color: var(--color-1);
	padding: 0;
	margin: 0;
}

main {
	min-height: 100vh;
}