.nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;
	gap: 24px;
}

.nav ul li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav ul li .a {
	text-decoration: none;
	font-size: 16px;
	color: var(--color-1);
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav ul li a::after {
	content: "";
	height: 1px;
	width: 0%;
	background: var(--color-1);
	transition: all 0.125s ease;
}

.nav ul li a:hover:after {
	width: 100%;
}

.nav ul li a span {
	padding: 8px 12px;
	text-transform: capitalize;
	color: var(--color-1);
}