
.movie {
    position: relative;
}

.movie a {
    text-decoration: none;
    color: var(--color-1);
}

.movie a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 325px;
    height: 413px;
    background: linear-gradient(#ffffff00, #000000 95%);
}

.movie a .absolute_info {
    position: absolute;
    top: 0;
    left: 0;
    width: 325px;
    height: 413px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

}

.absolute_info p {
    padding: 0;
    margin: 0 16px 8px 16px;
}

.movie_title {
    text-overflow: ellipsis;
}