.movie {
	position: relative;
	scroll-snap-align: start;

	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.25s ease-out, transform 0.25s ease-out;
}

.movie:hover {
	transform: scale(1.05);
}

.movie a {
	text-decoration: none;
	color: var(--color-1);
}

.movie a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: var(--movie-width);
	height: var(--movie-height);
	background: linear-gradient(#ffffff00, #000000 95%);
}

.movie a .absolute_info {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--movie-width);
	height: var(--movie-height);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

.img {
    width: var(--movie-width);
    height: var(--movie-height);
}

.absolute_info p {
	padding: 0;
	margin: 0 16px 8px 16px;
}

.movie_title {
	text-overflow: ellipsis;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}