.movies {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    scrollbar-width: thin;  /* Firefox */
    scrollbar-color: var(--color-4) var(--color-5);
}

.movies .div1 {
    padding: 20px 0 20px 40px;
    margin: 0;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;

}

.movies .div2 {
    padding: 20px 0 20px 40px;
    margin: 0;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;

}

.movies::-webkit-scrollbar {
    display: block;
}

.no_poster {
    position: absolute;
    display: none;
}