.slider {
    min-height: 80vh;
    width: 1250px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;

    position: relative;
}

.slider::before {
    content: "";

    height: 1000px;
    width: 1000px;

    border-radius: 100%;
    border: solid 1px #000;

    position: absolute;
    z-index: -1;
}

.slider .box {
    flex: 1;
    background: red;
}

.box:nth-child(1) {
    flex-direction: 1;
    height: 500px;
}

.box:nth-child(2) {
    flex: 1.25;
    height: 600px;
}

.box:nth-child(3) {
    flex: 1;
    height: 500px;
}